
/* Navigation Bar */
.navbar{
    /* position: fixed; */
    height: 50px;
    top: 0;
    width: 100%;
}
.navbar-nav {
    margin-left: auto;
    
} 

.navbar{
    background: #F7F7F7;
    padding: 2px;
}

.nav-link{
    color: black;
    font-family: 'Varta';font-size: 18px;
    
}
.nav-item{
    padding-right: 22px;
}

.navbar-brand{
    color: black;
    font-family: "Bank Gothic MediumbyBitstream";
}

/* Navigation bar end */

.text{
    font-size: 15px;
    padding-top: 30px;
    padding: 20px;
}


/* Products Page */
.top-pallete{
    display: flex;
}

.top-pallete1{
background-color: #E5E5E5;
width: 50%;
height: 50vh;

}

.pallete1-header{
    margin-left: 10%;
    margin-top: 10%;
}


.top-pallete2{
    background-color: #E5E5E5;
    width: 50%;
    height: 50vh;
    align-items: center;
    
    }

.productImage{
    height: 200px;
    width: 200px;
    margin-top: 10%;
    margin-left: 40%;
    
}

.bottom-pallete{
    display: flex;
}




/* Closing Product Page */

/* Footer Section */
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

footer {
    /* position: fixed; */
    height: 200px;
    bottom: 0;
    width: 100%;
}


/* End of Footer */
